{{#if message}}
<div class="container p-4">
    <div class="col-md-4 mx-auto">
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {{message}}
            <button type="button" class="close" data-dismiss="alert" aria-label="close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
</div>
{{/if}}

{{#if success}}
<div class="container p-4">
    <div class="col-md-4 mx-auto">
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{success}}
            <button type="button" class="close" data-dismiss="alert" aria-label="close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
</div>
{{/if}}