<div class="container p-4">

    <div class="row">

        <div class="col-md-4 mx-auto">

            <div class="card">

                <div class="card-body">

                    <form action="/links/edit/{{link.id}}" method="POST">

                        <div class="form-group">

                            <input type="text" value="{{link.title}}" class="form-control" name="title"
                                placeholder="Title" autofocus>

                        </div>

                        <div class="form-group">

                            <input type="url" value="{{link.url}}" class="form-control" name="url" placeholder="URL">

                        </div>

                        <div class="form-group">

                            <textarea rows="2" class="form-control" name="description"
                                placeholder="Description">{{link.description}}</textarea>

                        </div>

                        <div class="form-group">

                            <button class="btn btn-success btn-block">
                                Save
                            </button>

                        </div>

                    </form>

                </div>

            </div>

        </div>

    </div>

</div>